// Import Susy
@import "../../../bower_components/susy/sass/susy";

@import "normalize";

html, body, * {
    font-family: "Helvetica", sans-serif;
}

.site-header {
    font-size: 2.5em;
}

.main {
    background-color: azure;
}