// Import Susy
@import "../../../bower_components/susy/sass/susy";

@import "normalize";

html, body, * {
    font-family: "Helvetica", sans-serif;
}

.site-header {
    font-size: 5em;
    background-color: yellow;
}